.search-page {
    width: 100%;
    background-color: #f5f5f5;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_back-button.back-button {
    color: #000000;
    border: 2px solid rgb(0, 0, 0);
}

.search_back-button.back-button:hover {
    background: #000000;
    color: #ffffff;
}

.search-header {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 30px;
    flex-direction: column;
}
.search-title {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 420px) {
    .search_back-button.back-button {
      padding: 4px 8px;
      font-size: 12px;
    }
    h2.search-title {
      font-size: 20px;
      margin-bottom: 15px;
    }
    .search-header {
        margin-bottom: 0px;
    }
  }